@model List<Leave>
@using Human_Resources.Data.ViewModels
@{
    ViewData["title"] = "Available Leaves";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (!User.IsInRole("Admin"))
{

    <h4 class="text text-info">Leave credit Available: @TempData["encashment"]</h4>
}
@if (Model != null && Model.Count > 0)
{
    
    <table class="table bg-white">
        <tr>
            <th style="padding-left: 30px;">Employee Name</th>
            @*<th style="padding-left: 30px;">Remark</th>*@
            <th style="padding-left: 30px;">Actions</th>
        </tr>
        @foreach (var leave in Model)
        {
            <tr>
                <td class="align-middle" style="padding-left: 30px;">
                    @leave.Employee.Name
                </td>
                @*<td class="align-middle" style="padding-left: 30px;">
                    @leave.Remark
                </td>*@
                @if (leave.LeaveStatus == Human_Resources.Data.Enum.LeaveStatus.Pending)
                {
                    <td class="align-middle" style="padding-left: 30px;">
                        <a class="btn btn-outline-primary" asp-action="AcceptLeave" asp-route-Id="@leave.Id"><i class="bi bi-pencil-square"></i>Accept</a>|
                        <a class="btn btn-outline-info" href="#" data-bs-toggle="modal" data-bs-target="@("#Leave-" + leave.Id)" data-bs-url="@Url.Action("/Details/"+ leave.Id)"><i class="bi bi-eye"></i>Details</a> |
                        <a class="btn btn-danger text-white" asp-action="RejectedLeave" asp-route-Id="@leave.Id"><i class="bi bi-trash"></i>Reject</a>
                        @await Html.PartialAsync("~/Views/Shared/_LeaveDetails.cshtml", leave)
                    </td>
                }
                else
                {

                    <td class="align-middle" style="padding-left: 30px;">
                    
                        <a class="btn btn-outline-info" href="#" data-bs-toggle="modal" data-bs-target="@("#Leave-" + leave.Id)" data-bs-url="@Url.Action("/Details/"+ leave.Id)"><i class="bi bi-eye"></i>Details</a>
                        @await Html.PartialAsync("~/Views/Shared/_LeaveDetails.cshtml", leave)
                    </td>
                }
            </tr>
        }
        @if (!User.IsInRole("Admin"))
        {
            <a class="btn btn-primary" asp-action="RequestLeave">Request a Leave</a>
        }
    </table>
}
else
{
    <h4 class="text-danger align-content-center">No Request till now</h4>
    <a asp-action="RequestLeave" class="btn btn-primary">Request a Leave</a>
}
@if(User.IsInRole("Admin") || User.IsInRole("HRManager"))
{
   <a class="btn btn-primary" asp-action="Statistics" asp-controller="Leave">Statistics</a>
    
}
