@model Employee
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card">
    <img decoding="async" src="@("/../../images/"+Model.PhotoURL.Trim())"  alt="@Model.Name">
    <div class="box-title">
        <h3>@Model.Name</h3>
    </div>
    <div>
        @Model.Department.DepartmentName
    </div>
    
    <div>
        @Model.EducationalField.Name
    </div>
    <div>
        @Model.EducationalLevel
    </div>
    <div>
        @Model.Position.PositionSalary
    </div>
    <div>
        @Model.MaritalStatus
    </div>

</div>