@model Employee
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card my-3">
    <div style="width: 300px;" class="px-3  mt-3">
        <img decoding="async" src="@("/../../images/"+Model.PhotoURL.Trim())" alt="@Model.Name" class="img-fluid img-circle">
    </div>
    <div class="box-title bg-primary text-light px-3">
        <h3>@Model.Name</h3>
    </div>
    <div class="box-title px-3">
        <h5 class="font-weight-bold">Department: @Model.Position.Department.DepartmentName</h5>
    </div>
    
    <div class="px-3">
        <p class="font-weight-bold">Field: @Model.EducationalField.Name</p>
    </div>
    <div class="px-3">
        <p class="font-weight-bold">Education LeveL: @Model.EducationalLevel</p>
    </div>
    <div class="px-3">
        <p class="font-weight-bold">Position: @Model.Position.PositionName</p>
    </div>
    <div class="px-3">
        <p class="font-weight-bold">Marital Status: @Model.MaritalStatus</p>
    </div>
    @if(User.IsInRole("Admin"))
    {
        <div class="px-3">
            <a class="btn btn-success" asp-controller="Appraisal" asp-action="AddAppraisal" asp-route-EmployeeId="@Model.Id">Add a Grade</a>
            <a class="btn btn-success" asp-controller="Promotion" asp-action="AddPromotion" asp-route-EmployeeId="@Model.Id">Add a Promotion</a>
        </div>
    }
</div>