@using Human_Resources.Data.ViewModels
@model CertificationListViewModel
@using Human_Resources.Models;

@if(Model !=null && Model.Certifications.Count > 0)
{
    <table class="table bg-white">
        <thead>
            <tr>
                <th>Certification</th>
               @* <th>Options</th>*@
            </tr>
        </thead>
    @foreach(var cert in Model.Certifications)
    {
        <tr>
            <td>@cert.CertificationName (@cert.CertifyingCompany)</td>
        </tr>
        <tr>
            <td>
                    <a class="btn btn-primary" href="@cert.CredentialLink">View Credential</a>
                    <a href="#" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="@("#EditCert-" + cert.Id)" data-bs-url="@Url.Action("/EditCertification/"+ cert.Id)"><i class="bi bi-pencil-square"></i>Edit</a> |
                    <a href="#" class="btn btn-danger text-white" data-bs-toggle="modal" data-bs-target="@("#DeleteCert-" + cert.Id)" data-bs-url="@Url.Action("/DeleteCertification/"+ cert.Id)"><i class="bi bi-trash"></i>Delete</a>
                    @await Html.PartialAsync("~/Views/Shared/_EditCertification.cshtml", cert)
                    @await Html.PartialAsync("~/Views/Shared/_DeleteCertification.cshtml", cert)
            </td>
        </tr>
        
    }
    </table>
}
else
{
    <h3 class="text text-danger">You donot have any certificates</h3>
    
}
<a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#CreateType">Add Certificate</a>
@await Html.PartialAsync("~/Views/Shared/_AddCertification.cshtml",new Certification(){
    EmployeeId = Model.EmployeeId
})
@section Scripts{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <partial name="_ValidationScriptsPartial" />
}
