@model List<Position>
@{
    ViewData["title"] = "Available Departments";
}
@if (Model.Count > 0)
{
    <table class="table bg-white">
        <tr>
            <th style="padding-left: 30px;">Position Name</th>
            <th style="padding-left: 30px;">Salary</th>
            <th style="padding-left: 30px;">Actions</th>
        </tr>
        @foreach (var position in Model)
        {
            <tr>
                <td class="align-middle" style="padding-left: 30px;">
                    @position.PositionName
                </td>
                <td class="align-middle" style="padding-left: 30px;">
                    @position.PositionSalary
                </td>
                <td class="align-middle" style="padding-left: 30px;">
                    <a class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="@("#EditPosition-" + position.Id)" data-bs-url="@Url.Action("/EditPosition/"+ position.Id)"><i class="bi bi-pencil-square"></i>Edit</a> |
                    <a class="btn btn-outline-info"><i class="bi bi-eye"></i>Details</a> |
                    <a class="btn btn-danger text-white" data-bs-toggle="modal" data-bs-target="@("#DeletePosition-" + position.Id)" data-bs-url="@Url.Action("/DeletePosition/"+ position.Id)"><i class="bi bi-trash"></i>Delete</a>
                </td>
            </tr>
            @await Html.PartialAsync("~/Views/Shared/_EditPosition.cshtml", position)
            @await Html.PartialAsync("~/Views/Shared/_DeletePosition.cshtml", position)



        }
        <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#CreatePosition">Add a Position</a>
    </table>
}

else
{
    <h4 class="text-danger align-content-center">No Position Given</h4>
    <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#CreatePosition">Add a Position</a>

}
@await Html.PartialAsync("~/Views/Shared/_AddPosition.cshtml", new Position())
