@using Human_Resources.Data.Enum
@using Human_Resources.Data.ViewModels
@model Appraisal


<table class="table bg-white">

    <tr>
        <th style="padding-left: 30px;">Criteria</th>
        <th style="padding-left: 30px;">Grade</th>
    </tr>
    <tr>
        <td class="align-middle" style="padding-left: 30px;">
           Technical Skills
        </td>
        <td class="align-middle" style="padding-left: 30px;">
            @Model.TechnicalSkills
        </td>

    </tr>
    <tr>
        <td class="align-middle" style="padding-left: 30px;">
            Collaborative Skills
        </td>
        <td class="align-middle" style="padding-left: 30px;">
            @Model.CollaborativeSkills
        </td>

    </tr>
    <tr>
        <td class="align-middle" style="padding-left: 30px;">
            Group Work
        </td>
        <td class="align-middle" style="padding-left: 30px;">
            @Model.GroupWork
        </td>

    </tr>
    <tr>
        <td class="align-middle" style="padding-left: 30px;">
            Punctuality
        </td>
        <td class="align-middle" style="padding-left: 30px;">
            @Model.Punctuality
        </td>

    </tr>
    <tr>
        <td class="align-middle" style="padding-left: 30px;">
            Timeliness
        </td>
        <td class="align-middle" style="padding-left: 30px;">
            @Model.Timeliness
        </td>

    </tr>
</table>