@model List<EducationalField>
@{
    ViewData["title"] = "Available Fields";
}
@if (Model.Count > 0)
{
    <table class="table bg-white">
        <tr>
            <th style="padding-left: 30px;">Educational Field Name</th>
            <th style="padding-left: 30px;">Actions</th>
        </tr>
        @foreach (var educationalField in Model)
        {
            <tr>
                <td class="align-middle" style="padding-left: 30px;">
                    @educationalField.Name
                </td>
                <td class="align-middle" style="padding-left: 30px;">
                    <a class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="@("#EditEducationalField-" + educationalField.Id)" data-bs-url="@Url.Action("/EditEducationalField/"+ educationalField.Id)"><i class="bi bi-pencil-square"></i>Edit</a> |
                    <a class="btn btn-outline-info"><i class="bi bi-eye"></i>Details</a> |
                    <a class="btn btn-danger text-white" data-bs-toggle="modal" data-bs-target="@("#DeleteEducationalField-" + educationalField.Id)" data-bs-url="@Url.Action("/DeleteEducationalField/"+ educationalField.Id)"><i class="bi bi-trash"></i>Delete</a>

                </td>
                @await Html.PartialAsync("~/Views/Shared/_EditEducationalField.cshtml", educationalField)
                @await Html.PartialAsync("~/Views/Shared/_DeleteEducationalField.cshtml", educationalField)

            </tr>

        }
        <a class="btn btn-primary" href="#"  data-bs-toggle="modal" data-bs-target="#CreateEducationalField">Add an Educational Field</a>
    </table>
}
else
{
    <h4 class="text-danger align-content-center">No Educational Field Given</h4>
    <a class="btn btn-primary" href="#"  data-bs-toggle="modal" data-bs-target="#CreateEducationalField">Add an Educational Field</a>

}
@await Html.PartialAsync("~/Views/Shared/_AddEducationalField.cshtml", new EducationalField())
