@model List<Promotion>
@using Human_Resources.Data.ViewModels
@{
    ViewData["title"] = "Available Employees";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Model.Count > 0)
{
    <table class="table bg-white">
        <tr>
            <th style="padding-left: 30px;">Employee Name</th>
            @*<th style="padding-left: 30px;">Previous Position</th>
            <th style="padding-left: 30px;">Current Position</th>*@
            <th style="padding-left: 30px;">Actions</th>
        </tr>
        @foreach (var promo in Model)
        {
            <tr>
                <td class="align-middle" style="padding-left: 30px;">
                    @promo.Employee.Name
                </td>
                @*<td class="align-middle" style="padding-left: 30px;">
                    @promo.PositionFrom.PositionName
                </td>
                <td class="align-middle" style="padding-left: 30px;">
                    @promo.PositionTo.PositionName
                </td>*@
                <td class="align-middle" style="padding-left: 30px;">
                    <a class="btn btn-outline-primary" asp-action="EditPromotion" asp-route-Id="@promo.Id"><i class="bi bi-pencil-square"></i>Edit</a> |
                    <a href="#" class="btn btn-outline btn-outline-primary" data-bs-toggle="modal" data-bs-target="@("#PromoDetail-" + promo.Id)" data-bs-url="@Url.Action("/PromoDetails/"+ promo.Id)"><i class="bi bi-eye"></i>Details</a> |
                    @await Html.PartialAsync("~/Views/Shared/_PromotionDetails.cshtml", promo)
                    <a class="btn btn-danger text-white" asp-action="DeletePromotion" asp-route-Id="@promo.Id"><i class="bi bi-trash"></i>Delete</a>
                </td>
            </tr>
        }
        
    </table>
}
else
{
    <h4 class="text-danger align-content-center">No Promotions are Made till now</h4>
}